{%extends 'layoutC.html'%}
{%block title%}
    Acerca De
{%endblock%}

{%block seccion%}
        ¡Estas en Nuestra informacion!
{%endblock%}

{% block content %}
    <div class="info">
        <h2>Historia de la Empresa</h2>
        <p>La Tienda la Mercancia del explorador nació en 2024 con la visión de ofrecer a nuestros clientes una experiencia de compra única y productos de calidad excepcional. Desde entonces, hemos crecido gracias al apoyo continuo de nuestra increíble comunidad.</p>

        <h2>Proveedores de Productos</h2>
        <p>Colaboramos estrechamente con proveedores de confianza que comparten nuestra pasión por la calidad. Cada producto en nuestra tienda refleja nuestro compromiso con estándares elevados y sostenibilidad.</p>

        <h2>Nuestro Compromiso</h2>
        <p>En la Tienda la Mercancia del explorador, nos esforzamos por brindar un servicio al cliente excepcional en cada interacción. Si tienes alguna pregunta o inquietud, nuestro equipo de atención al cliente está <a class="contact" href="/contacto">aquí</a> para ayudarte. Nos comprometemos a responder a todas las consultas de manera oportuna y a garantizar que estés completamente satisfecho con tu experiencia de compra.</p>


        <h2>Únete a la Comunidad</h2>
        <p>¡Síguenos en las redes sociales para mantenerte al día con las últimas noticias, promociones y eventos de la Tienda la Mercancia del explorador! Estamos en Facebook, Twitter e Instagram, ¡así que no dudes en unirte a la conversación!</p>


        <p>¡Gracias por elegir la Tienda la Mercancia del explorador! Esperamos que disfrutes de tu experiencia de compra y que encuentres los productos perfectos para ti. ¡Nos vemos en la Grieta del Invocador!</p>
    </div>
{% endblock %}