{%extends 'layoutC.html'%}
{%block title%}
    Contacto
{%endblock%}
{%block seccion%}
        ¡Estas en contactanos!
{%endblock%} 
{% block content %}

{% comment %} <p> {{"Creado por Miguel Bm Dev"}} </p>
<p>{{texto|default:"No me crean"}} </p>
<p>{{letra|first}} </p>
<p>{{letra|last}} </p>
<p>{{letra|join:" (!-!) "}} </p>
<p>{{letra|length}} </p>
<p>{{'Colombia'| upper}} </p>
<p>{{'Colombia'| title}} </p>
<p>{{'Colombia'| lower}} </p>
<p>{{letra|random}} </p>
<p>{{'<h1>hola </h1>'| striptags}} </p>
<p>{{'lor emda sdas sasasd asdasdas asd asdad dasd'| wordcount}} </p> {% endcomment %}

<h2>Contactanos</h2>
<div class="formArt">
    <form >
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" id="nombreCompleto" placeholder="Nombre Completo">
        <label for="correoElectronico">Correo Electrónico</label>
        <input type="email" id="correoElectronico" placeholder="name@example.com">
        <label for="edad">Edad</label>
        <input type="number" id="edad" placeholder="Edad">
        <label for="celular">Numero de Celular</label>
        <input type="tel" id="celular" placeholder="Numero de Celular">
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}