    {%extends 'layoutC.html'%}
    {%block title%}
    Bienvenidos
    {%endblock%}

    {%block seccion%}
        Estas en el Inicio :D
    {%endblock%}

    {%block content%}

    <h1>Bienvenid@s a la Mercancia del explorador</h1>
    
    <p>¡Hola Invocadores! Bienvenidos a la Tienda la "Mercancia del explorador", tu destino número uno para productos de League of Legends. En nuestra tienda, encontrarás una amplia selección de peluches y figuras para satisfacer todas tus necesidades de coleccionismo y diversión en el mundo de LoL.</p>
    <h2>Nuestros Productos</h2>
    <p>Peluches: ¡Abraza a tus campeones favoritos con nuestra colección de peluches de League of Legends! Desde el adorable Teemo hasta el imponente Garen, tenemos una amplia variedad de peluches para que puedas llevar a casa a tus campeones favoritos.</p>
        
    <p> Figuras: Dale vida a tu colección con nuestras figuras de League of Legends. Desde figuras de acción detalladas hasta estatuas impresionantes, nuestras figuras son perfectas para exhibir en tu estantería o escritorio.</p>
        
    {%endblock%}
