
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleC.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <title>
        {% block title %}

        {% endblock %}
    </title>
     
</head>
<body>
    <header>
        <div class="logotipo">
            <img src="{% static 'img/logo.webp'%}" alt="">
            <h1>Sitio Web con Django <br>| Miguel Bm Dev |</h1>
        </div>
    </header>
    
    <nav>
        <ul >
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/years">Años desde el 2024 al 2025</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/hola_mundo">HelloWorld</a></li>
            <li><a href="/saludo">Saludo</a></li>
            <li><a href="/presentacion">Sobre mi</a></li>
            <li><a href="/pys">Productos y Servicios</a></li>
            <li><a href="/acercaDe">Quienes somos</a></li>
            <li><a class="proyectoDjango" href="/">Proyecto Django!</a></li>
        </ul>
    </nav>
    <div class="barra">
        <span class="izq"></span>
        <span class="relleno"></span>
        <span class="der"></span>
    </div>

    <div id="textSup">
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=3054814938&text&type=phone_number&app_absent=0"> 
            <img src="{% static 'img/whatsapp.png'%}"  alt="Whatsapp Logo">
        </a>
        
        <h3> ¡Soporte AQUI!</h3>
        {%block seccion%}
    
        {%endblock%}
    </div>

    <div id="content">
        {% block content %}
        {{block.super}}
            <h1>Aprendiendo con Django</h1>
        {% endblock %}
    </div>
    <footer>Django Class &copy; Miguel Bm Dev</footer>
</body>
</html>