{%extends 'layoutC.html'%}
{%block title%}
    {{titlePag}}
{%endblock%}

{%block seccion%}
    
¡Estas en La lista de años!
{%endblock%}

{% block content %}
<div class="title"> 
    {%include 'fecha_actual.html'%}
    {% comment %} <h1> {{title}}</h1> {% endcomment %}
</div>


<div class="miniCont">  
    <h3>Listado de años</h3>
    <ul>
        {% for año in años %}
            <li>{{ año }}</li>
        {% endfor %}
    </ul>

    <h3>Años Pares</h3> 
    <ul>
        {% for año in años_pares %}
            <li>{{ año }}</li>
        {% endfor %}
    </ul>

    <h3>Años Impares</h3>
    <ul>
        {% for año in años_impares %}
            <li>{{ año }}</li>
        {% endfor %}
    </ul>

    <h3>Años Bisiestos</h3>
    <ul>
        {% for año in años_bisiestos %}
            <li>{{ año }}</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}

