*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;
    
}
@keyframes wipe-in-bottom-right {
    from {
      clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
    }
    to {
      clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
    }
  }
  

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    
}


header{
    width: 1212px;
    height: 140px;
    background-color: #1a1b1b;
    margin:0px auto;
}


.logotipo h1{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: lighter;
    color: #2ba977;

}
.logotipo img{
    display: block;
    width: 80px;
    float: left;
    margin-top: 20px;
}

.logotipo{
    display: flex;
    justify-content: center; 
    width: 75%;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

nav{
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f ;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float:left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto 70px auto;
}

.izq{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.der{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno{
    display: block;
    width: 1210px;
    height: 10px;
    background:#2b2f30;
    float: left;
}









/* CSS PROPIO */


#textSup{
  text-align: center;
  font-family: "Anta", sans-serif;
  font-size: 35px;
  font-style: normal;
  color: #2ba977;
  text-shadow: 2px 2px black;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

#textSup img {
  max-width: 50px;
  left: calc(100% - 72px);
  filter: brightness(60%);
  top: 1;
  position: fixed;
  z-index: 1; 
}

#textSup h3{
  color: #0dc00d;
  font-size: 15PX;
  left: calc(100% - 90px);
  top: 1;
  bottom: 45%;
  position: fixed;
  z-index: 1; 
}

#textSup img:hover {
  filter: brightness(100%);
  transition: filter 300ms;
  cursor: pointer;
} 


.supCont{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

.supCont h2 {
  margin-bottom: 5px;
}

#content { 
    margin:0 auto;
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 1212px;
    /* min-height: 930px; */
    animation: 4.0s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
    background-color: rgba(243, 242, 242, 0.555);
    box-shadow: 15px 15px rgba(236, 236, 236, 0.589);
}

#content .miniCont h2{
    color: #2ba977;
    text-shadow: 2px 2px black;
    margin-right: 20px;
}

#content .miniCont{
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    width: 720px;
    align-items: start;
    border: 1px solid rgba(51, 90, 1, 0.719);
    border-radius: 5px;
    padding: 10px;
    background-color: #e4e1e1;
} 



.imgCont{
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
}

.imgCont img{
    max-width: 180px;
    background-color: #d1d4d683;
    border-radius: 6px;
    margin: 0px 5px;
}

.imgCont img:hover{
    background-color: #2ba977be;
    transition: all 300ms;
    cursor: pointer;
}

.title {
  color: #000000;
  margin-bottom: 5px;
}
h3 {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 15px;
}

.miniCont ul li {
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 10px;
}

/* contacto */

form {
    max-width: 25%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2ba977;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #128155;
  }
  




  /* acerca de */

  .info h2 {
    border-radius: 5px;
    font-size: 24px;
  }
  
  .info p {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .info a {
    color: #00c475;
    font-weight: bold;
  }
  

  footer{
    margin-top: 20px;
    text-align: center;
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px gray;
  }



  /* HOLA MUNDO */

.mundoPng{
  max-width: 450px;
  box-shadow: 0px 0px 10px  gray;
  margin-bottom: 10px;

}